@import "tailwindcss";

:root {
  --brand-dark: #132440;
  --brand-navy: #16476A;
  --brand-teal: #3B9797;
}

@theme inline {
  --color-brand-dark: var(--brand-dark);
  --color-brand-navy: var(--brand-navy);
  --color-brand-teal: var(--brand-teal);
}

body {
  font-family: var(--font-sans);
}